<h1>Books</h1>
<table>
  <% @books.each do |book| %>
  <tr>
    <th>title</th>
    <th>body</th>
  </tr>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to "show",new_book_path%></td>
    <td><%= link_to "edit" %></td>
    <td><%= link_to "destroy" %></td>
  </tr>
  <% end %>
</table>
